%h1 My Rewards
.row
  .col-md-4
    .panel.panel-default
      .panel-heading Filter by status
      .panel-body
        = form_tag '', method: :get, enforce_utf8: false do
          .form-group
            = select_tag :status, options_for_select(statuses_select_collection, params[:status]),
                         multiple: true, id: 'statuses_select_box'
  .col-md-8
    .panel.panel-default
      .panel-heading Rewards
      .panel-body
        - if @rewards.empty?
          %p.text-center You don't have any rewards yet
        - else
          = render 'rewards_table', rewards_list: @rewards
